.contacto{
    background-color: black;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button {
    cursor: pointer;
    background-color: #252A2E; /* Fondo del botón */
    border: 2px solid #1CB698; /* Borde del botón */
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
  }
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
.col .info ul li a{
    color: inherit;
    text-decoration: none;
}
.col .info ul li a:hover {
    color: #1CB698; 
    text-decoration: underline; 
}

/* Modo claro  */

.light-mode .contacto{
    background-color: white;
    color: black;
    padding: 50px 0;
}
.light-mode .contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.light-mode .contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.light-mode .contacto .fila{
    display: flex;
}
.light-mode .contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.light-mode .contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    color: #fff;
    font-size: 18px;
}
.light-mode .contacto button {
    cursor: pointer;
    background-color: #252A2E; /* Fondo del botón */
    border: 2px solid #1CB698; /* Borde del botón */
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
.light-mode .contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.light-mode .contacto button:hover .overlay{
    width: 100%;
}
.light-mode .contacto .col img{
    width: 100%;
}
.light-mode .contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #e0e0e0;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.light-mode .contacto .col .info ul{
    list-style: none;
}
.light-mode .contacto .col .info ul li{
    margin-bottom: 20px;
}
.light-mode .contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
.light-mode .col .info ul li a{
    color: inherit;
    text-decoration: none;
}
.light-mode .col .info ul li a:hover {
    color: #1CB698; 
    text-decoration: underline; 
}