/* Estilos generales para el componente Home */
.home {
    background: black /* Fondo oscuro por defecto */
      url('./fondo.png'); /* Imagen de fondo para modo oscuro */
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea el contenido al centro */
    text-align: center; /* Centra el texto */
    padding-top: 50px; /* Ajusta el padding-top para el espacio debajo del NavBar */
}
  
/* Estilos para el contenido del banner */
.home .contenido-banner {
    padding: 20px;
    background-color: black; /* Fondo oscuro por defecto */
    max-width: 350px;
    margin: auto;
    text-align: center;
}
  
/* Estilo para la imagen del banner */
.home .contenedor-img img {
    margin-top: 70px;
    border: 5px solid #1CB698;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 100%;
}
  
/* Estilo para el encabezado principal */
.home .contenido-banner h1 {
    margin-top: 20px;
    font-size: 36px;
    font-family: 'Righteous';
}
  
/* Estilo para el subtítulo */
.home .contenido-banner h2 {
    font-size: 18px;
    font-weight: normal;
}
  
/* Estilo para los íconos de redes sociales */
.home .contenido-banner .redes a {
    color: white; /* Color de los íconos en modo oscuro */
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}
  
/* Efecto hover para los íconos de redes sociales */
.home .contenido-banner .redes a:hover {
    background-color: #1cb698;
}
  
/* Modificaciones para el modo claro */
.light-mode .home {
    background: white; /* Fondo claro para modo claro */
    color: black; /* Color del texto en modo claro */
}
  
.light-mode .home .contenido-banner {
    background-color: #ffffff; /* Fondo claro para el contenido del banner */
    color: black; /* Color del texto dentro del banner en modo claro */
}
  
.light-mode .home .contenido-banner h1 {
    color: black; /* Color del encabezado principal en modo claro */
}
  
.light-mode .home .contenido-banner h2 {
    color: black; /* Color del subtítulo en modo claro */
}
  
.light-mode .home .contenido-banner .redes a {
    color: black; /* Color de los íconos en modo claro */
    border: 1px solid black;
}
  
.light-mode .home .contenido-banner .redes a:hover {
    background-color: #1cb698;
}