.projects {
    padding: 50px 20px;
    min-height: 100vh; /* Asegura que la sección ocupe al menos toda la altura de la ventana */
  }
  
  .projects.dark-mode {
    background-color: black; /* Color de fondo oscuro en modo oscuro */
    color: #ffffff;
  }
  
  .projects.light-mode {
    background-color: #ffffff; /* Fondo blanco en modo claro */
    color: #000000;
  }
  
  .projects .contenido-seccion {
    max-width: 1100px;
    margin: auto;
  }
  
  .projects h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    padding: 20px 0;
  }
  
  .projects .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .projects .galeria .proyecto {
    position: relative;
    max-width: 340px;
    margin: 10px;
    cursor: pointer;
  }
  
  .projects .galeria .proyecto img {
    width: 100%;
    display: block;
    border-radius: 10px; /* Añade un radio de borde para las imágenes */
  }
  
  .projects .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, 0.8), rgba(28, 182, 152, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    color: #fff;
    border-radius: 10px; /* Asegura que el overlay tenga bordes redondeados */
  }
  
  .projects .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: margin-bottom 1s;
  }
  
  .projects .galeria .proyecto .overlay:hover {
    opacity: 1;
  }
  
  .projects .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0;
  }