/* Estilos generales para el componente Skills */
.skills {
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa toda la anchura de la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 50px 20px;
    box-sizing: border-box;
}

.skills .contenido-seccion {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
    flex-wrap: wrap; /* Añadido para responsividad */
    width: 100%; /* Ocupa toda la anchura del contenedor */
}

.skills .fila .col {
    flex: 1; /* Las columnas tomarán la misma cantidad de espacio disponible */
    padding: 0 20px;
    min-width: 300px; /* Ancho mínimo para asegurar que se vean bien en pantallas pequeñas */
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0% { width: 0%; }
    100% { width: 80%; }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0% { width: 0%; }
    100% { width: 95%; }
}

.skills .skill .react {
    width: 0%;
    animation: 2s react forwards;
    -webkit-animation: 2s react forwards;
}
@keyframes react {
    0% { width: 0%; }
    100% { width: 75%; }
}

.skills .skill .basededatos {
    width: 0%;
    animation: 2s basededatos forwards;
    -webkit-animation: 2s basededatos forwards;
}
@keyframes basededatos {
    0% { width: 0%; }
    100% { width: 81%; }
}

.skills .skill .git {
    width: 0%;
    animation: 2s git forwards;
    -webkit-animation: 2s git forwards;
}
@keyframes git {
    0% { width: 0%; }
    100% { width: 100%; }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0% { width: 0%; }
    100% { width: 80%; }
}

.skills .skill .trabajo {
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0% { width: 0%; }
    100% { width: 100%; }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0% { width: 0%; }
    100% { width: 99%; }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0% { width: 0%; }
    100% { width: 65%; }
}

.skills .skill .proyect {
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0% { width: 0%; }
    100% { width: 94%; }
}

/* Modificaciones para el modo claro */
.light-mode .skills {
    background-color: white; /* Fondo claro para modo claro */
    color: #000; /* Color de texto en modo claro */
}

.light-mode .skills .skill .barra-skill {
    background-color: #e0e0e0;
}

.light-mode .skills .skill .progreso {
    background-color: #1CB698;
}

.light-mode .skills .skill .barra-skill span {
    background-color: #1CB698;
}